.visual-diagram {
    height:700px;
    border:1px solid #b9def0;
    background-color:white;
    cursor:default;
    /* Вкл Прокрутку (отдельно чтобы функция расширения increaseLevel корректно работала )*/
    overflow: auto;
}

.visual-diagram-top-layer {

}

/* -Стили для состояний- */
.div-state {
    /* форма*/
    width: 150px;
    min-height: 60px;
    border:2px solid #337ab7;
    background-color:#f5f5f5;
    border-radius: 5px;
    /* текст по центру для дочернего блока div-event-name*/
    position: absolute;
    overflow:hidden
}

.div-state:hover {
    border:2px solid #337ab7;
    background-color: #b9def0;
    opacity:0.9;
    cursor: pointer;
}

.div-state:active {
    cursor: move;
}

.content-state{
    position: relative;
    padding-top: 20px;
    min-height: 60px;
    padding-bottom: 20px;
    font-size: 80%;
}

.div-state-name {
    /* текст по центру*/
    position: relative;
    text-align: center;
    word-wrap: break-word; /* перенос строк */
}


/*кнопки событий*/
.edit-state {
    position: absolute;
    right: 30px;
    top: 5px;
    display:none;
    color: #337ab7;
    font-size: 13px;
    font-family: "Glyphicons Halflings";
}

.del-state {
    position: absolute;
    right: 10px;
    top: 5px;
    display:none;
    color: #337ab7;
    font-size: 13px;
    font-family: "Glyphicons Halflings";
}

.connect-state {
    position: absolute;
    top: 5px;
    right: 50px;
    display:none;
    color: #337ab7;
    font-size: 13px;
    font-family: "Glyphicons Halflings";
}

.add-state-property {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display:none;
    color: #337ab7;
    font-size: 13px;
    font-family: "Glyphicons Halflings";
}
/*показать скрытые кнопки*/
.content-state:hover .edit-state {
    display:block;
}
.content-state:hover .del-state {
    display:block;
}
.content-state:hover .connect-state {
    display:block;
}
.content-state:hover .add-state-property {
    display:block;
}


/* -Стили для переходов- */
.transitions-style {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #337ab7;
    font-size: 80%;
    cursor: pointer;
}

.transitions-style.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #b9def0;
    opacity: 1;
}

