.step {
    height: 350px;
    width: 95%;
    margin: auto;
    border:2px solid #337ab7;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 7px 5px 5px #b9def0;;
    text-align: center;
}


.button {
    height: 68px;
    width: 61%;
    padding-top: 20px;
}

.select-template {
    padding-left: 35px;
    width: 90%;
}